<h1>Welcome to {{ this.hotelName }}</h1>

<div *ngIf="this.isRoomCountShown">
  Number of Rooms:
  <span
    [innerText]="this.numberOfRooms"
    [ngStyle]="{
      color: this.hotel.availableRooms > 0 ? 'green' : 'red'
    }"></span>
</div>

<!-- <div>Rooms List: {{ roomsList | json }}</div> -->
<div *ngIf="selectRoom">{{ selectedRoom | json }}</div>

<div>
  <button class="btn btn-secondary" (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="this.hotel.availableRooms > 0">
  <app-rooms-list
    [roomsList]="this.roomsList"
    [title]="this.title"
    (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button class="btn btn-primary" (click)="toggle()">Toggle</button>
