<h1>Welcome to {{ this.hotelName }}</h1>

<div *ngIf="this.isRoomCountShown">
  Number of Rooms:
  <span
    [innerText]="this.numberOfRooms"
    [ngStyle]="{
      color: this.hotel.availableRooms > 0 ? 'green' : 'red'
    }"></span>
</div>

<div *ngIf="this.hotel.availableRooms > 0">
  <!-- <div>Rooms List: {{ roomsList | json }}</div> -->

  <table class="table">
    <tr>
      <th>Index</th>
      <th>Even/Odd</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenities</th>
      <th>Check In</th>
      <th>Check Out</th>
    </tr>
    <!-- ? Don't use slice pipe for large datasets -->
    <!-- ? (In that case, rely on server side pagination/filtering) -->
    <tr
      *ngFor="
        let room of this.roomsList | slice: 0 : 5;
        let isEven = even;
        let isOdd = odd;
        let index = index
      "
      [ngClass]="isEven ? 'even' : 'odd'">
      <td>{{ index }}</td>
      <td>{{ isEven ? 'Even' : 'Odd' }}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.type }}</td>
      <td>{{ room.price | currency: 'EUR' }}</td>
      <td>{{ room.amenities | titlecase }}</td>
      <td>{{ room.checkIn | date: 'dd MMM yyyy' }}</td>
      <td>{{ room.checkOut | date: 'dd MMM yyyy' }}</td>
    </tr>
  </table>
</div>

<button class="btn btn-primary" (click)="toggle()">Toggle</button>
